<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="secretproject.board.serviceimpl.BoardMapper">

	<!-- 게시글 목록 조회 -->
	<select id="selectBoardList" parameterType="boardVO" resultType="boardVO">
		<include refid="CommonMapper.pagingHead" />
			SELECT 
				BOARD_SN, 
				BOARD_TITLE, 
				BOARD_REGISTER_ID, 
				BOARD_DATE
			FROM 
				board
		<include refid="CommonMapper.pagingTail" />
	</select>
	
	<!-- 게시글 상세보기 -->
	<select id="selectDetail" parameterType="Integer" resultType="boardVO">
		SELECT 
			BOARD_SN, 
			BOARD_TITLE, 
			BOARD_CONTENT, 
			BOARD_REGISTER_ID, 
			BOARD_DATE
		FROM 
			board
		WHERE 
			BOARD_SN = #{BOARD_SN}
	</select>
	
	<!-- 게시글 삽입 -->
	<insert id="insertBoard" parameterType="boardVO">
		INSERT INTO 
			board(
				BOARD_SN, 
				BOARD_TITLE, 
				BOARD_CONTENT, 
				BOARD_REGISTER_ID, 
				BOARD_DATE)
		VALUES(
			NEXTVAL(board_sn),
			#{boardTitle},
			#{boardContent},
			#{boardRegisterId},
			now()
			)
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="boardVO">
		UPDATE 
			board 
		SET
			BOARD_TITLE = #{boardTitle}, 
			BOARD_CONTENT = #{boardContent}
		WHERE 
			BOARD_SN = #{boardSn}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="Integer">
		DELETE FROM 
			board
		WHERE 
			BOARD_SN = #{boardSn}
	</delete>
	
	<select id="getTotCntBoard" parameterType="boardVO" resultType="int">
		SELECT
			COUNT(*)			
		FROM 
			BOARD
	</select>
	
</mapper>