<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CommonMapper">

<!-- 예시  -->    
<!-- 
		<include refid="CommonMapper.pagingHead" />
				<select>
				...
				</select>
		<include refid="CommonMapper.pagingTail" />
 -->

	<!-- Paging Head -->
	<sql id="pagingHead">
		SELECT * FROM
		(SELECT A.*,ROWNUM() AS RNUM FROM (
	</sql>


	<!-- Paging Tail -->
	<sql id="pagingTail">
		) A  )B
		WHERE RNUM BETWEEN #{firstRow} and #{lastRow}
	</sql>

</mapper>