<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="secretproject.comment.serviceimpl.CommentMapper">

	<!-- 댓글 목록 조회 -->
	<select id="selectCommentList" parameterType="commentVO" resultType="commentVO">
			SELECT 
				COMMENT_SN,
				COMMENT_USER_ID,
				COMMENT_CONTENT,
				COMMENT_DATE
			FROM 
				comment
	</select>
	
	<!-- 댓글 삽입 -->
	<insert id="insertComment" parameterType="commentVO">
		INSERT INTO 
			comment(
				COMMENT_SN,
				COMMENT_BOARD_SN,
				COMMENT_USER_ID,
				COMMENT_CONTENT,
				COMMENT_DATE
				)
		VALUES(
			NEXTVAL(commentSn),
			#{commentBoardSn},
			#{commentUserId},
			#{commentContent},
			now()
			)
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="updateComment" parameterType="commentVO">
		UPDATE 
			comment 
		SET
			COMMENT_CONTENT = #{commentContent},
			COMMENT_UPDDATE_DATE = now()
		WHERE 
			COMMENT_SN = #{commentSn}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteComment" parameterType="Integer">
		DELETE FROM 
			comment
		WHERE 
			COMMENT_SN = #{commentSn}
	</delete>
</mapper>